<div id="edit_poem" style="display: none;">
  <% form_remote_tag(:url => poem_path(@poem), :html => { :method => 'put' }) do -%>
    <%= hidden_field :poem, :id, :value => @poem.id %>
    <p>
      <h1><%= text_field :poem, :title, :style => 'border: none;' %></h1>
    </p>
    <p>
      <%= textile_editor :poem, :body, :cols => '60', :style => 'border: none;' -%>
      <%= textile_editor_initialize -%>
    </p>
    <%= link_to_function('expand ->', "$('poem_body').setAttribute('cols', '80');") %>
    <p>
      <%= submit_tag "Save" %>
    </p>
  <% end -%>
</div>
