<h1>Editing poem</h1>

<%= error_messages_for :poem %>

<% form_for(@poem) do |f| %>
  <p>
    <b>User</b>: <%= @poem.user.name %><br />
    <%= f.hidden_field :user_id %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= textile_editor :poem, :body -%>
    <%= textile_editor_initialize -%>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to 'Show', @poem %>
