<h1>New Poem</h1>

<%= error_messages_for :poem %>

<% form_for(@poem) do |f| %>
  <p>
    <b>Title</b>: <%= f.text_field :title %>
  </p>

  <p>
    <%= textile_editor :poem, :body -%>
    <%= textile_editor_initialize -%>
  </p>
  
  <p>
    by <%= current_user.name %> <%= avatar(current_user) %><br />
    <input type="hidden" id="poem_user_id" name="poem[user_id]" value="<%= current_user.id -%>" />
  </p>

  <p>
    <%= f.submit "Publish" %>
  </p>
<% end %>