<div id="poem_left_column">
  <p>
    <% if logged_in? -%>
      <span id="favorite" <%= 'style="display: none;"' if current_user.has_favorite?(@poem.id) %>><%= link_to_remote(image_tag('favorite_32.png'), :url => { :controller => 'users', :action => 'favorite', :id => @poem.id }, :html => { :class => 'favorite_link' }) %></span>
      <span id="favorited" <%= 'style="display: none;"' unless current_user.has_favorite?(@poem.id) %>><%= link_to_remote(image_tag('favorited_32.png'), :url => { :controller => 'users', :action => 'remove_favorite', :id => @poem.id }, :html => { :class => 'favorite_link' }) %></span><br />
      <span id="add_to_chapbook">Add to chapbook</span>
    <% end -%>
  </p>
  <%= render :partial => 'poem', :locals => { :poem => @poem } -%>
  <%= render :partial => 'edit_poem', :locals => { :poem => @poem } -%>
  <div id="comparison"></div>
  <div id="comments">
    <h2>Comments</h2>
    <% @poem.comments.each do |comment| -%>
      <%= render :partial => "comments/comment", :object => comment %>
    <% end -%>
  </div>
  <% if logged_in? -%>
    <% form_remote_tag(:url => { :controller => 'comments', :action => 'create' }) do -%>
      <%= text_area :comment, :body, :rows => '6' %>
      <%= hidden_field :comment, :user_id, :value => current_user.id %>
      <%= hidden_field :comment, :poem_id, :value => @poem.id %>
      <%= hidden_field :comment, :is_private, :value => 'false' %>
      <%= submit_tag 'Add Comment' %>
    <% end -%>
  <% end -%>
</div>
<div id="poem_actions">
  <p>
    <b>Viewed</b> <%= pluralize @poem.views, 'time' %> <%= "(not counting you)" if current_user == @poem.user %>.
  </p>
  <p>
    <b>Revised</b> <span id="revision_count"><%= pluralize @poem.revisions.count, 'time' %></span>.
  </p>
  <p>
    <%= if current_user == @poem.user 
        link_to_function 'Edit' do |page|
          page.hide 'poem'
          page.show 'edit_poem'
        end
      end 
    %>
  </p>
  <%= render :partial => "poem_history", :object => @poem %>
  <%= render :partial => 'tag_list', :locals => { :taggable => @poem } -%>
  <p>
    <% if logged_in? -%>
      <% form_remote_tag(:url => { :action => 'tag' }) do -%>
        <%= text_field :poem, :tags, :value => "", :size => "12" %>
        <%= hidden_field :poem, :id %>
        <%= submit_tag 'Add Tags' %>
      <% end -%>
    <% end -%>
  </p>
</div>
