<% @page_title = "'#{@poem.title}' @ Chapbook" %>
<% @rss = auto_discovery_link_tag(:rss, formatted_revisions_url(@poem, :rss), { :title => "Prior Versions of #{@poem.title} @ Chapbook" }) %>
<div id="poem_left_column">
  <p>
    <% if logged_in? -%>
      <% unless current_user == @poem.user -%>
        <span id="favorite" <%= 'style="display: none;"' if current_user.has_favorite?(@poem.id) %>><%= link_to_remote(image_tag('favorite_32.png'), :url => { :controller => 'users', :action => 'favorite', :id => @poem.id }, :html => { :class => 'favorite_link' }) %></span>
        <span id="favorited" <%= 'style="display: none;"' unless current_user.has_favorite?(@poem.id) %>><%= link_to_remote(image_tag('favorited_32.png'), :url => { :controller => 'users', :action => 'remove_favorite', :id => @poem.id }, :html => { :class => 'favorite_link' }) %></span>
      <% end -%>
    <% end -%>
  </p>
  <%= render :partial => 'poem', :locals => { :poem => @poem } -%>
  <%= render :partial => 'distractions' %>
  <%= render :partial => 'edit_poem', :locals => { :poem => @poem } -%>
  <hr />
  <p>
    by <%= link_to_user(@poem.user.name, @poem.user.id) %> <%= mini_avatar(@poem.user) %> on <%= @poem.created_at.to_s(:long) %>
  </p>
  <div id="disqus_thread" style="margin-top: 3em;"></div><script type="text/javascript" src="http://disqus.com/forums/chapbook/embed.js"></script><noscript><a href="http://chapbook.disqus.com/?url=ref">View the forum thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">poem comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<div id="poem_actions">
  <p>
    <b>Viewed</b> <%= pluralize @poem.views, 'time' %> <%= "(not counting you)" if current_user == @poem.user %>.
  </p>
  <p>
    <b>Revised</b> <span id="revision_count"><%= pluralize @poem.revisions.count, 'time' %></span>.
  </p>
  <p>
    <%= if current_user == @poem.user 
        link_to_function 'Edit' do |page|
          page.hide 'poem'
          page.show 'edit_poem'
        end
      end 
    %>
  </p>
  <%= render :partial => "poem_history", :object => @poem %>
  <%= render :partial => 'tag_list', :locals => { :taggable => @poem } -%>
  <p>
    <% if logged_in? -%>
      <% form_remote_tag(:url => { :action => 'tag' }) do -%>
        <%= text_field :poem, :tags, :value => "", :size => "12" %>
        <%= hidden_field :poem, :id %>
        <%= submit_tag 'Add Tags' %>
      <% end -%>
    <% end -%>
  </p>
</div>
<script>
  // Auto-discovery link for Disqus comments feed - hacksy!
  var exp = /href="(\S+)">This thread/;
  var res = exp.exec(document.body.innerHTML)[1];
  var feed = document.createElement('link');
  feed.setAttribute('rel', 'alternate');
  feed.setAttribute('href', res);
  feed.setAttribute('type', 'application/rss+xml');
  feed.setAttribute('title', 'Comments on <%= @poem.title %> @ Chapbook');
  document.getElementsByTagName('head')[0].appendChild(feed);
</script>
