<p>
  <h2>Friend Requests Awaiting Your Approval</h2>
  <ul>
    <% @user.pending_friends_for_me.each do |p| -%>
      <li id="pending_request<%= p.id %>"><%= link_to p.name, { :controller => 'users', :action => 'show', :id => p } %>: <%= link_to_remote 'approve', :url => { :controller => 'users', :action => 'approve_friend_request', :id => p.id } %> | <%= link_to_remote 'reject', :url => { :controller => 'users', :action => 'cancel_friend_request', :id => p.id } %></li>
    <% end -%>
  </ul>
</p>
<p>
  <h2>Your Pending Friend Requests</h2>
  <ul>
    <% @user.pending_friends_by_me.each do |p| -%>
      <li id="pending_request<%= p.id %>"><%= link_to p.name, { :controller => 'users', :action => 'show', :id => p } %>: <%= link_to_remote 'X', :url => { :controller => 'users', :action => 'cancel_friend_request', :id => p.id } %></li>
    <% end -%>
  </ul>
</p>
<p>
  <h2>Your Friends (yay!)</h2>
  <ul id="friends">
    <% @user.friends.each do |f| -%>
      <li id="friend<%= f.id %>"><%= link_to f.name, { :controller => 'users', :action => 'show', :id => f } %>: <%= link_to_remote 'axe', :url => { :controller => 'users', :action => 'remove_friendship', :id => f.id } %>
    <% end -%>
  </ul>
<p>