<h1>Welcome home, <%= @user.name %> <%= avatar(@user) %></h1>

<div id="my_recent_poems">
  <h2>Your Poems</h2>
  <% @my_recent_poems.each do |poem| -%>
    <%= render :partial => 'poems/recent_poem', :locals => { :poem => poem } %>
  <% end -%>
</div>

<div id="recent_poems">
  <h2>Everyone's Poems</h2>
  <% @recent_poems.each do |poem| -%>
    <%= render :partial => 'poems/recent_poem', :locals => { :poem => poem } %>
  <% end -%>
</div>

<p><h2><%= link_to('My Favorites', favorites_path(@user)) %></h2></p>

<div id="friend_updates">
  <hr />
  <% unless @user.pending_friends_for_me.empty? -%>
    <h2>These People Want to Be Your Friend:</h2>
    <ul id="pending_friends">
      <% @user.pending_friends_for_me.each do |p| -%>
        <li id="pending_request<%= p.id %>"><%= link_to p.name, show_user_path(p) %>: <%= link_to_remote 'approve', :url => { :controller => 'users', :action => 'approve_friend_request', :id => p.id } %> | <%= link_to_remote 'reject', :url => { :controller => 'users', :action => 'cancel_friend_request', :id => p.id } %></li>
      <% end -%>
    </ul>
  <% end -%>
  <% unless @user.pending_friends_by_me.empty? -%>
    <h2>You've Requested Friendship:</h2>
    <ul id="requested_friends">
      <% @user.pending_friends_by_me.each do |p| -%>
        <li id="pending_request<%= p.id %>"><%= link_to p.name, show_user_path(p) %>: <%= link_to_remote 'cancel', :url => { :controller => 'users', :action => 'cancel_friend_request', :id => p.id } %></li>
      <% end -%>
    </ul>
  <% end -%>
  <% unless @user.friends.empty? -%>
    <h2>Your Friends</h2>
    <ul id="friends">
      <% @user.friends.each do |f| -%>
        <li id="friend<%= f.id %>"><%= link_to f.name, show_user_path(f) %>: <%= link_to_remote 'delete', :url => { :controller => 'users', :action => 'remove_friendship', :id => f.id } %>
      <% end -%>
    </ul>
  <% end -%>
  <hr />
</div>

<%= link_to 'Edit My Profile', edit_user_path(@user) %>