<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.created_at.to_s(:long) %></td>
    <td><%= user.updated_at.to_s(:long) %></td>
  </tr>
<% end %>
</table>