<h1>Edit Your Chapbook</h1>

<p>
  <%= link_to('Or, organize poems you added.', { :controller => 'chapbooks', :action => 'organize', :id => @chapbook }) %>
</p>

<%= error_messages_for :chapbook %>

<% form_for(@chapbook) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :user_id %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>Introduction</b><br />
    <%= f.text_area :introduction %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Cancel', @chapbook %>
