<% @page_title = "Edit Your Chapbook" %>
<h1>Edit Your Chapbook</h1>

<p>
  <%= link_to('Or, organize poems you added.', organize_path(@chapbook)) %>
</p>

<%= error_messages_for :chapbook %>

<% form_for(@chapbook) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :user_id %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>Introduction</b><br />
    <%= f.text_area :introduction %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= image_tag(@chapbook.cover.public_filename()) unless @chapbook.cover.nil? %>

<% form_tag({ :controller => "chapbooks", :action => "upload_cover" }, :multipart => true ) do -%>
  <label for="image">Upload a cover for your chapbook (max 2mb, width should be multiple of 6 and height should be multiple of 8 (e.g. 600 x 800 or 300 x 400):</label><br /><br />
  <%= hidden_field 'chapbook', 'id', :value => @chapbook.id %>
  <%= file_field 'cover', 'uploaded_data' %>
  <%= submit_tag 'Upload' %>
<% end -%>

<%= link_to 'Cancel', @chapbook %>
