<% @page_title = "Publish a New Chapbook" %>
<h1>Publish a Chapbook</h1>

<%= error_messages_for :chapbook %>

<% form_for(@chapbook) do |f| %>
  <p>
    <h1><%= text_field :chapbook, :title, :style => 'border: none;', :value => 'Untitled' %></h1>
  </p>
  <p>
    <%= textile_editor :chapbook, :introduction, :cols => '60', :style => 'border: none;' -%>
    <%= textile_editor_initialize -%>
    <br />
    <%= link_to_function('expand ->', "$('chapbook_introduction').setAttribute('cols', '80');") %>
  </p>
  <p>
    edited by <%= current_user.name %> <%= avatar(current_user) %><br />
    <input type="hidden" id="poem_user_id" name="poem[user_id]" value="<%= current_user.id -%>" />
  </p>
  <p>
    <%= f.submit "Publish" %>
  </p>
<% end %>