<h1>Publish a Chapbook</h1>

<%= error_messages_for :chapbook %>

<% form_for(@chapbook) do |f| %>
  <%= f.hidden_field :user_id %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <b>Introduction</b><br />
    <%= f.text_area :introduction %>
  </p>
  <p>
    edited by <%= current_user.name %> <%= avatar(current_user) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
