<% @rss = auto_discovery_link_tag(:rss, formatted_chapbook_url(@chapbook, :rss), { :title => "Poems in the chapbook '#{@chapbook.title}'" }) %>
<% @page_title = "Table of Contents: '#{@chapbook.title}' @ Chapbook" %>
<%= render :partial => 'header', :locals => { :chapbook => @chapbook } %>
<h1>Table of Contents</h1>
<h2><%= link_to('Introduction', intro_path(@chapbook)) %></h2>
<h2>Poems</h2>
<ul>
  <% @chapbook.pages.each do |p| -%>
    <li><%= link_to(p.poem.title, page_path(:chapbook_id => @chapbook, :sequence => p.sequence)) %> ... <%= p.sequence %></li>
  <% end -%>
</ul>
<%= render :partial => 'header', :locals => { :chapbook => @chapbook } %>