<% @page_title = "Chapbook" %>

<div id="recent_poems">
  <h2>Recent Poems</h2>
  <% @recent_poems.each do |poem| -%>
    <%= render :partial => 'poems/recent_poem', :locals => { :poem => poem } %>
  <% end -%>
</div>
<hr / style="clear: both;">
<br />
<%= render :partial => 'chapbook_explanation' %>
<hr / style="clear: both;">

<% form_tag '/account/login' do -%>
  <div id="login" style="float: left; width: 20em; padding-top: 1em; padding-bottom: 2em;">
    <strong>Login:</strong>
    <p><label for="email">Email</label><br/>
    <%= text_field_tag 'email' %></p>
    <p><label for="password">Password</label><br/>
    <%= password_field_tag 'password' %></p>
    <p><%= submit_tag 'Log in' %></p>
  </div>
  <div id="login_separator" style="float: left; width: 20em; padding-top: 5em; padding-right: 1em; text-align: center;">
    <strong>Or...</strong>
  </div>
  <div id="signup" style="float: left; width: 20em; padding-top: 3em; padding-bottom: 2em;">
    <h1><%= link_to 'Signup!', signup_path %></h1>
  </div>
<% end -%>
