<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Poetry Sharing - <%= controller.controller_name.capitalize %>/<%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <link rel="shortcut icon" type="image/ico" href="<%= image_path 'favicon.ico' %>">
</head>
<body>

<div class="center" id="app_banner">
  <div id="nav">
    <span id="logo"><%= link_icon('barcode.png', 'poems', 'about') %></span>
    <span id="link_list">
      <%= link_icon('home_32.png', 'users', 'home') %>
      <%= link_icon('edit-charcoal_32.png', 'poems', 'new') if logged_in? %>
      <%= link_icon('stats_32.png', 'poems') %>
      <%= link_icon('search_32.png', 'tags') %>
    </span>
    <span id="account_links">
      <% if logged_in? -%>
        <%= link_icon('lock_24.png', "account", "logout") %>
        <%= link_icon('mail_24.png', 'users', 'dashboard') unless current_user.pending_friends.empty? %>
      <% end -%>
    </span>
  </div>
</div>

<div class="center" id="main_container">
  <hr class="layout_rule" />
  <p style="color: green;"><%= image_tag('next-green_24.png', { :style => "vertical-align: middle;" }) unless flash[:notice].nil? %> <%= flash[:notice] %></p>
  <p style="color: red;"><%= image_tag('next-red_24.png', { :style => "vertical-align: middle;" }) unless flash[:error].nil? %> <%= flash[:error] %></p>
  <%= yield  %>
  
  <div id="footer">
    <ul id="miniflex">
      <%= miniflex_tab('About', 'poems', 'about') %>
    </ul>
  </div>
</div>
</body>
</html>